# Files over 4mb
# Files over 49mb
Content/3D_useful/AssetsvilleTown/Maps/Demonstration_BuiltData.uasset
Content/3D_useful/Fantastic_Village_Pack/maps/map_village_day_BuiltData.uasset
Content/3D_useful/Fantastic_Village_Pack/maps/map_village_night_BuiltData.uasset
Content/3D_useful/Fantastic_Village_Pack/maps/map_village_overview_BuiltData.uasset
Content/EnvironmentPack1/Maps/TerrainDemo_BuiltData.uasset
Content/KiteDemo/Environments/Cliffs/Cliff01/T_Cliff01_D_CC_R.uasset
Content/KiteDemo/Environments/Cliffs/Cliff01/T_Cliff01_N.uasset
Content/KiteDemo/Environments/GroundTiles/AlpinePatch001/T_AlpinePatch001_D_alt_R.uasset
Content/KiteDemo/Environments/GroundTiles/AlpinePatch001/T_AlpinePatch001_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/AlpinePatch001/T_AlpinePatch001_N.uasset
Content/KiteDemo/Environments/GroundTiles/ForestPath_001/T_Forest_Path_001B_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/ForestPath_001/T_Forest_Path_001B_N.uasset
Content/KiteDemo/Environments/GroundTiles/GravelTile_01/T_gravelTile_01_N.uasset
Content/KiteDemo/Environments/GroundTiles/LeafyPath/T_GDC_Tiling_LeafPathStones_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/PebblyRiverbank/T_Tile_PebblyRiverbank_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/PebblyRiverbank/T_Tile_PebblyRiverbank_N.uasset
Content/KiteDemo/Environments/GroundTiles/RiverPebbles/T_RiverPebbles_001_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/RiverPebbles/T_Tile_RiverPebbles_N.uasset
Content/KiteDemo/Environments/GroundTiles/RockFace003/T_GDC_RockFace003_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/RockFace003/T_GDC_RockFace003_N.uasset
Content/KiteDemo/Environments/GroundTiles/RockyPath/T_GDC_StonePath_Tile_D_R.uasset
Content/KiteDemo/Environments/GroundTiles/RockyPath/T_GDC_StonePath_Tile_N.uasset
Content/KiteDemo/Environments/Rocks/Boulder_05a/T_Boulder05_N.uasset
Content/KiteDemo/Environments/Rocks/GroundRevealRock001/T_GroundRevealRock001a_D_CC_R.uasset
Content/KiteDemo/Environments/Rocks/GroundRevealRock001/T_GroundRevealRock001a_N.uasset
Content/KiteDemo/Environments/Rocks/GroundRevealRock002/T_GroundRevealRock002_D_CC_R.uasset
Content/KiteDemo/Environments/Rocks/GroundRevealRock002/T_GroundRevealRock002_N.uasset
Content/KiteDemo/Environments/Rocks/LargePlainsBoulder002/T_LargePlainsBoulder002_D_R.uasset
Content/KiteDemo/Environments/Rocks/LargePlainsBoulder002/T_LargePlainsBoulder002_N.uasset
Content/KiteDemo/Environments/Rocks/Large_Volcanic_Rock_001/T_GDC_LargeVolcanicRock_001_D2_R.uasset
Content/KiteDemo/Environments/Rocks/Large_Volcanic_Rock_001/T_GDC_LargeVolcanicRock_001_N.uasset
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_Closed_D.uasset
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_Closed_D2.uasset
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_Closed_N.uasset
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_D.uasset
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_N.uasset
Content/KiteDemo/Environments/Rocks/Scree001/T_Scree_001_D_CC.uasset
Content/KiteDemo/Environments/Rocks/Scree001/T_Scree_001_N.uasset
Content/KiteDemo/Environments/Rocks/Scree002/T_Scree002_D_R.uasset
Content/KiteDemo/Environments/Rocks/Scree002/T_Scree002_N.uasset
Content/KiteDemo/Environments/Trees/Tree_Stump_01/D_Tree_Stump_01_D_R.uasset
Content/KiteDemo/Environments/Trees/Tree_Stump_01/D_Tree_Stump_01_N.uasset
Content/KiteDemo/Environments/Trees/Vegetation_Debris_002/T_Vegetation_Debris_002_D_R.uasset
Content/KiteDemo/Environments/Trees/Vegetation_Debris_002/T_Vegetation_Debris_002_N.uasset
Content/KiteDemo/LevelContent/HDRI/KimsBackYard.uasset
Content/KiteDemo/Maps/Showcase_BuiltData.uasset
Content/ParagonSunWukong/Characters/Global/Eyes/Textures/T_EpicQuadPanorama_CC.uasset
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
Content/Stylized_PBR_Nature/Maps/Stylized_Nature_ExampleScene.umap
Content/Stylized_PBR_Nature/Maps/Stylized_Nature_ExampleScene_BuiltData.uasset
Content/support/Architecture/House/1/105-106-107-108_diffuse.uasset
Content/support/Architecture/House/1/105-106-107-108_normal.uasset
Content/support/Architecture/House/1/105-106-107-108_roughness.uasset
Content/support/Architecture/Pokemon/1.fbx
Saved/Autosaves/Game/support/Architecture/House/1/105-106-107-108_diffuse_Auto5.uasset
Saved/Autosaves/Game/support/Architecture/House/1/105-106-107-108_normal_Auto5.uasset
Saved/Autosaves/Game/support/Architecture/House/1/105-106-107-108_roughness_Auto5.uasset
